body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #c3cfe2, #e2ebf0);
}

/* CENTER */
.login-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

/* CARD */
.login-card {
  width: 350px;
  background: white;
  border-radius: 20px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

/* TITLE */
.login-card h2 {
  margin-bottom: 10px;
}

/* INPUT */
input {
  width: 100%;
  padding: 12px;
  margin: 10px 0;
  border: none;
  background: #f2f2f2;
  border-radius: 8px;
}

/* BUTTON */
.main-btn {
  width: 100%;
  padding: 12px;
  background: #ddd;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

/* SOCIAL BUTTONS */
.social-btn {
  width: 100%;
  padding: 10px;
  margin-top: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background: white;
  cursor: pointer;
}

/* TEXT */
.small-text {
  text-align: center;
  margin-top: 10px;
  font-size: 13px;
}

.link {
  color: blue;
  cursor: pointer;
}